# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.moved-aside

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
